<body>
    

<div class="cardContent">
    <img class="characterimg" [src]='image' alt="">
    <div class="characterTextContent">
    <h1  class="characterName" >{{entryData?.nombre}}</h1>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, incidunt commodi officia alias excepturi nostrum rerum? Molestiae autem amet quas possimus sit quia. Perferendis facere necessitatibus exercitationem aut eum asperiores.
        </p>
    <button>view more</button>

    <h2>
        Related comics
    </h2>
    <p>comic relacionados 1</p>
    <p>comic relacionados 2</p>
    <p>comic relacionados 3</p>
    <p>comic relacionados 4</p>
</div>
</div>
</body>